/* header */

.header-wraper {
    background-image: url('../img/bg-image.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.container-header {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
}
.header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}
.nav-a {
    color: #D9F0FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase; 
    font-size: 16px;
}
.nav-li {
    margin-right: 30px;
}

.nav-li:nth-child(4) {
    margin-right: 0;
}
.header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    margin-top: 240px;
    white-space: nowrap;
}

/* burger icon */

.burger-icon {
   color: #FFF;
   font-size: 30px;
   display: none;
}

/* section 2 */

.container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;   
    width: 100%;
    height: 602px; 
}
.title-h1 {
    max-width: 468px;
    width: 100%;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    margin-top: 120px;
    margin-bottom: 57px;
}
.text-p {
    width: 457px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #000000;
}

.img-box {
    max-width: 640px;
    width: 100%;
    height: 602px;
}


 /* blue box */

 .blue-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
 }
 .view  {
    max-width: 307px;
    width: 100%;
    height: 72px;
    padding: 26px 64px 22px 75px;
    background-color: #325DFF;
    border-radius: 36px;
    margin-top: 110px;
}
.projects {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-top: 35px;
}


/* section 3 */

.container3 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.box-waper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 25px;
}
.small-box {
    width: 370px;
    height:374px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border:2px solid #CECECE;
    margin-bottom: 30px;
}
.small-box p { 
    width: 250px;
    text-align: center;
}
.icon {
    width: 88px;
    height: 88px;
    background-color: #325DFF;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}
.title-h3 {
    width: 570px;
    color:#000000;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    margin-top: 80px;
}
.text2 {
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 771px;
    height: 71px;
    margin: 0 auto;
    margin-top: 40px;
}
.small-box:nth-child(1),
.small-box:nth-child(2),
.small-box:nth-child(3) {
    margin-bottom: 25px;
}
.heading3 {
   font-size: 18px;
   font-family: 'Lato';
   color: #000000;
   margin-bottom: 20px;
}
.paragraph {
   font-size: 16px;
   font-family: 'Poppins';
   font-weight: 300;
   color: #000000;
}